div.break{
    clear:both;
  }
  
.byline{
margin:0em;
font-size:.75em;
font-style:italic;
color: rgb(80, 80, 80);
}


.paper_btn{
float: right;
border:2px solid black;
padding:.2em;
color: black;
margin-left:1em;
}

.paper{
margin-top:1em;
}
.paper p{
float:left;
margin:0;
}

.paper p title{
margin-top:2.0rem;
}