.card{
    margin-top: 2rem;
    background-color: #777;
  }
  
.card-header{
color:#fb0;
}

.modal{
  overflow-y:auto;
}

.modal-content {
    background-color: white;
}
.modal-title{
color:#000;
}

.describe-projects{
color:#000;
text-align: justify;
text-justify: inter-word;
padding: 1.0rem;
font-weight:300;
margin-bottom: 5px;
}

.tooltip-test:link{
  color:blue;
  text-decoration: underline;
}
.tooltip-test:visited {
  color:blue;
  text-decoration: underline;
}
.tooltip-test:hover {
  color: orange;
  text-decoration: underline;
}

.tg  {
  border-collapse:collapse;
  border-color:#ccc;
  border-spacing:0;
  width:70%; 
  margin-left:15%; 
  margin-right:15%;}

  .tg td{
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
  }

.tg th{
  background-color:#f0f0f0;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  color:#333;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg .tg-lboi{
  border-color:inherit;
  text-align:left;
  vertical-align:middle
}

.tg .tg-9wq8{
  border-color:inherit;
  text-align:center;
  vertical-align:middle
}

.tg .tg-c3ow{
  border-color:inherit;
  text-align:center;
  vertical-align:top
}

.tg .tg-0pky{
  border-color:inherit;
  text-align:left;
  vertical-align:top
}