.card{
    margin-top: 2rem;
    background-color: #777;
  }
  
.card-header{
color:#fb0;
}

.modal-content {
    background-color: white;
}
.modal-title{
color:#000;
}

.describe-projects{
color:#000;
text-align: justify;
text-justify: inter-word;
padding: 1.0rem;
font-weight:300;
margin-bottom: 5px;
}

.tooltip-test:link{
  color:blue;
  text-decoration: underline;
}
.tooltip-test:visited {
  color:blue;
  text-decoration: underline;
}
.tooltip-test:hover {
  color: orange;
  text-decoration: underline;
}
